h1 {
  font-weight: bolder;
}
p {
  color: rgb(250, 244, 244);
  font-size: x-large;
}
pre {
  display: flex;
  border: 0px;
  background-color: transparent;
  color: white;
  font-size: x-large;
}
h2 {
  color: white;
  font-size: xx-large;
}
div {
  text-align: center;
  font-style: calc();
  font-size: larger;
  font-weight: bold;
  color: white;
  height: 50px;
  padding-bottom: 25px;
}
body {
  background: url("shravs.jpg");
  background-size: cover;
  margin: 20px;
  font-weight: bolder;
}
#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: #333;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  margin: 0px 40px;
  text-align: center;
  font-family: bolder;
  font-size: large;
}
#topheader .navbar-nav li > a:hover,
#topheader .navbar-nav li > a:focus {
  background-color: #5e5f5f;
  color: #fff;
}
#topheader .navbar-nav li.active > a {
  background-color: #5c5d5e;
  color: white;
}
